<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>credit_card_system</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CardValidationServlet</display-name>
    <servlet-name>CardValidationServlet</servlet-name>
    <servlet-class>net.credit_card_system.controller.CardValidationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardValidationServlet</servlet-name>
    <url-pattern>/CardValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCardDetailsServlet</display-name>
    <servlet-name>SaveCardDetailsServlet</servlet-name>
    <servlet-class>net.credit_card_system.controller.SaveCardDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCardDetailsServlet</servlet-name>
    <url-pattern>/SaveCardDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>net.credit_card_system.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuspendUserServlet</display-name>
    <servlet-name>SuspendUserServlet</servlet-name>
    <servlet-class>net.credit_card_system.controller.SuspendUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuspendUserServlet</servlet-name>
    <url-pattern>/SuspendUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReactivateUserServlet</display-name>
    <servlet-name>ReactivateUserServlet</servlet-name>
    <servlet-class>net.credit_card_system.controller.ReactivateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReactivateUserServlet</servlet-name>
    <url-pattern>/ReactivateUserServlet</url-pattern>
  </servlet-mapping>
</web-app>